@import 'o-colors/main';
$o-fonts-is-silent: false;
@import 'o-fonts/main';
@import 'o-footer/main';
$o-grid-is-silent: false;
@import 'o-grid/main';
$o-header-is-silent: false;
@import 'o-header/main';

$font-sans: MetricWeb, sans-serif;
$font-serif: Georgia, serif;
$font-display: FinancierDisplayWeb, Georgia, serif;

body {
  @include oColorsFor(page, background);

  margin: 0;
  border: 0;
  font-family: $font-sans;
}

.site-header {
  padding: 18px 0 14px;
  text-align: center;
  border-bottom: 1px solid #e9decf;

  > a {
    opacity: 0.75;
    &:hover { opacity: 1; }
  }
}

.masthead {
  height: 18px;
}

// Custom
.o-footer {
  margin-top: 0;
}

.vr-container {
  height: calc(100vh - 159px);
  overflow: hidden;
}

@media (max-width: 736px) {
  .vr-container {
    height: 100vh;
    margin-top: -47px;
  }

  .o-footer {
    display: none;
  }
}

@media (max-width: 736px) and (orientation: landscape) {
  .vr-container {
    height: 100vh;
    margin-top: -45px;
  }

  .o-header {
    background-color: transparent;
  }

  .o-header__nav-link {
    display: none;
  }

  .o-header__search-toggle {
    display: none;
  }
}
